*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #ffffff;
  --secondary: #171717;
  --accent: #83B0DE;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

header{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}

a{
  text-decoration: none;
  color: inherit;
  font-family: 'Poppins-Regular';
  font-size: 1em;
}

h1{
  font-family: 'Poppins-Bold';
  font-size: 2em;
}

h2{
  font-family: 'Poppins-SemiBold';
  font-size: 1.5em;
}

h3{
  font-family: 'Poppins-Medium' ;
  font-size: 1.25em;
}

p{
  font-family: 'Poppins-Regular';
  font-size: 1em;
}

@media screen and (max-width:768px) {
  
  p, a{
    font-size: 0.8em;
  }

}



