.postCard {
  display: grid;
  gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px; /* Optional: sesuaikan dengan lebar kontainer */
  margin: 0 auto; /* Untuk pusat konten */
  padding: 3rem 1.5rem 7rem 1.5rem;
}

@media (max-width: 568px) {
  .postCard {
    grid-template-columns: 1fr; /* 2 kolom untuk layar tablet */
    gap: 3rem;
  }
}

@media (min-width: 568px) and (max-width: 1200px) {
  .postCard {
    max-width: 800px;
    gap: 2rem;
  }
  .postCard {
    grid-template-columns: 1fr 1fr; /* 3 kolom untuk layar lebar */
  }
}
